#background{
    box-sizing: border-box;
    background-image: url('../images/places/ocean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    border: 3px solid orange;
    padding: 5px;
}
#page-logo{
    font-family: 'Oleo Script';
    
}
.page-logo{
    font-style: none;
    font-size: 22px;
    text-decoration: none;
    font-display: swap;
    color: rgb(230, 230, 80);
}
.nav__list{
    margin: 0;
    padding: 4px 0;
    width: 120px;
    font-size: small;
    border: 2px solid rgb(255, 230, 192);
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav__items{
    text-decoration: none;
    color: rgb(230, 230, 80);
}

/* main */
main{
    border: 3px solid rgb(235, 20, 235);
    min-height: 500px;
}

/* hero */
#hero{
    border: 3px solid rgb(244, 184, 244);
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
}
#hero-content{
    background-color: rgba(56, 55, 55, 0.8);
    border-radius: 8px;
    color: white;
    font-family: 'Quicksand';
    padding: 0px 100px 20px 100px;
    margin: 40px;
    text-align: center;
    box-shadow: 3px 2px 3px rgb(23, 3, 3);
}
.hero__btn{
    text-decoration: none;
    color: black;
    background-color: yellow;
    padding: 8px;
    border-radius: 4px;
}

/* hight light */
#highlights{
    background-color: #b6e7e7;
    border: 3px solid rgb(244, 184, 244);
}
.highlights__text{
    text-align: center;
    font-family: 'Raleway';
}
img{
    width: 300px;
    height: 100px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px grey;
}
#destinations{
    display: flex;
    justify-content: space-evenly;
}
.destination{
    list-style: none;
    text-align: center;
    font-family: 'Raleway';
    color: gray;
}
strong{
    color: #068d30;
}